certifi==2019.9.11
chardet==3.0.4
Django==2.1.11
idna==2.8
isodate==0.6.0
Pillow==5.4.1
psycopg2==2.7.7
psycopg2-binary==2.7.7
pyparsing==2.4.5
pytz==2018.9
rdflib==4.2.2
requests==2.22.0
six==1.13.0
urllib3==1.25.7
