{% load static %}

<div id="navbar-component">
  <section class="dark-background text-light d-none d-sm-block">
    <div class="container py-1 alt-font">
      <div class="d-flex">
        <div>
          <small>
            <span class="pr-5">
              <i class="fas text-light fa-envelope-open"></i>
              support@gmail.com</span
            >
          </small>
        </div>
        <div class="ml-auto">
          <a href="javascript:{document.getElementById('logout').submit()}">
            <small><i class="fas fa-sign-out-alt"></i> Logout </small>
          </a>
          <form action="{% url 'logout' %}" method="POST" id="logout">
            {% csrf_token %} <input type="hidden" />
          </form>
        </div>
      </div>
    </div>
  </section>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container alt-font nav-text">
      <a class="navbar-brand " href="{% url 'index' %}"
        ><img src="{% static 'images/logo.png' %}" alt="" height="50" width="50" />
        PPBGS
      </a>
      <button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link 
            {% if '/' == request.path %}
              active
            {% endif %}" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item 
            {% if 'topic' in request.path  %}
              active
            {% endif %}">
            <a class="nav-link" href="{% url 'topics' %}">Topics</a>
          </li>
          <li class="nav-item 
            {% if 'leaderboards' in request.path  %}
              active
            {% endif %}">
              <a class="nav-link" href="{% url 'leaderboards' %}">Rankings</a>
          </li>

          <li class="nav-item
            {% if 'profile' in request.path  %}
              active
            {% endif %}"><a class="nav-link" href="{% url 'profile' request.user.id %}">Profile</a></li>
          <li class="nav-item">
            <a
              class="nav-link d-block d-sm-none"
              href="javascript:{document.getElementById('logout').submit()}"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
