{% load static %}
<h2 class="subheader px-2 text-capitalize">{{ user.username }}</h2>
<div class="border-top-pink border-left border-right border-bottom">
  <h2 class="subheader py-2 text-center bg-light">Level 3</h2>
  <h3 class="subheader subheader-small pt-2 px-2">Points/Rankings</h3>
  <div class="px-2">
    <table
      class="subheader subheader-small font-weight-light border px-1 bg-light"
      width="100%"
    >
      <tr class="border-bottom-white">
        <td width="70%" class="py-1 pl-1">Overall Points:</td>
        <th width="30%" class="py-1 pl-1">{{ userPoints.points }}</th>
      </tr>
      <tr class="border-bottom-white">
        <td width="70%" class="py-1 pl-1">Overall Rank:</td>
        <th width="30%" class="py-1 pl-1">{{ rank }}</th>
      </tr>
      <tr>
        <td width="70%" class="py-1 pl-1">Total Students:</td>
        <th width="30%" class="py-1 pl-1">{{ allUsers.count }}</th>
      </tr>
    </table>
  </div>
  <div class="bg-light mt-4 pb-3">
    <h3 class="subheader subheader-small pt-3 px-2">Coins</h3>
    <div class="border mx-2 py-2 bg-none text-center d-flex align-items-center justify-content-center">
      <i class="fas fa-coins fa-3x text-coin"></i>
      <span class="pl-3 subheader subheader-small">{{ userCoins.coins }}</span>
    </div>
  </div>
  <h3 class="subheader subheader-small pt-4 px-2">Best Overall</h3>
  <table width="100%" class="subheader subheader-small font-weight-light">
    <tr class="table-heading subheader border-bottom">
      <td width="15%" class="py-1 text-center">Pos</td>
      <td width="60%" class="py-1">Name</td>
      <td width="25%" class="py-1 text-center">Points</td>
    </tr>
    <tr class="border-bottom">
      <td width="15%" class="py-1 text-center">1</td>
      <td width="60%" class="py-1">
        <a href="" class="text-dark">{{ allUsers.0.user.username }}</a>
      </td>
      <td width="25%" class="py-1 text-center">{{ allUsers.0.points }}</td>
    </tr>
    <tr class="border-bottom">
      <td width="15%" class="py-1 text-center">2</td>
      <td width="60%" class="py-1">
        <a href="" class="text-dark">{{ allUsers.1.user.username }}</a>
      </td>
      <td width="25%" class="py-1 text-center">{{ allUsers.1.points }}</td>
    </tr>
    <tr class="border-bottom">
      <td width="15%" class="py-1 text-center">3</td>
      <td width="60%" class="py-1">
        <a href="" class="text-dark">{{ allUsers.2.user.username }}</a>
      </td>
      <td width="25%" class="py-1 text-center">{{ allUsers.2.points }}</td>
    </tr>
    <tr class="border-bottom">
      <td width="15%" class="py-1 text-center">4</td>
      <td width="60%" class="py-1">
        <a href="" class="text-dark">{{ allUsers.3.user.username }}</a>
      </td>
      <td width="25%" class="py-1 text-center">{{ allUsers.3.points }}</td>
    </tr>
    <tr class="border-bottom">
      <td width="15%" class="py-1 text-center">5</td>
      <td width="60%" class="py-1">
        <a href="" class="text-dark">{{ allUsers.4.user.username }}</a>
      </td>
      <td width="25%" class="py-1 text-center">{{ allUsers.4.points }}</td>
    </tr>
  </table>

  <h3 class="subheader subheader-small py-4 px-2">Achievements</h3>
  <div class="container-fluid my-2 text-center">
    <img
      class="badges bg-success icon"
      rel="popover"
      src="https://api.sololearn.com/Uploads/Achievements/56.png"
      alt="Engaged in!"
    />
  </div>
  <div class="container-fluid my-2 text-center">
    <img
      class="badges bg-secondary icon"
      src="https://api.sololearn.com/Uploads/Achievements/14.png"
      alt="Engaged in!"
    />
  </div>
  <div class="container-fluid my-2 text-center">
    <img
      class="badges bg-info icon"
      src="https://api.sololearn.com/Uploads/Achievements/16.png"
      alt="Engaged in!"
    />
  </div>
</div>
