{% extends 'base.html' %} 
{% load static %}
{% load is_attempted %} 
{% load is_only_started %} 
{% block content %}

<div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-lg-10 pt-5">
            <!--Content Heading-->
            <div class="container p-0">
              <div class="row text-center">
                <div class="col-12">
                  <p class="mb-2 text-uppercase alt-font text-small">
                    List of
                  </p>
                  <h5
                    class="text-uppercase alt-font text-extra-dark-gray mb-3 font-weight-700"
                  >
                    Challenges
                  </h5>
                  <span
                    class="separator-line-horrizontal-medium-light2 bg-deep-pink display-table margin-auto width-100px"
                  ></span>
                </div>
              </div>
            </div>
  
            <div class="container py-4">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a class="text-dark" href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a class="text-dark" href="{% url 'topics' %}">Topics</a>
                </li>
                <li class="breadcrumb-item">
                  <a class="text-dark" href="{% url 'topic' topic.topicName %} ">{{ topic.topicName }}</a>
                </li>
                <li class="breadcrumb-item active">Challenges</li>
              </ol>
            </div>
  
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <div class="subheader text-center mb-3 text-green">
                    Easy
                  </div>
  
                  {% if easy_challenges %}
                    {% for easy_challenge in easy_challenges %}
                      <div class="card border-left-easy mb-4 shadow">
                        <div class="card-body mb-0 pb-0 px-0">
                          <form action="{% url 'challenge' %}" method="GET">
                            <input type="hidden" name="topic_name" value="{{ topic.topicName }}">
                            <input type="hidden" name="exercise" value="{{ easy_challenge.id }}">
                            <button type="submit" class="btn btn-link w-100 text-xs no-underline font-weight-bold text-green text-uppercase mb-3 px-3 d-flex">
                                <span>Problem {{ forloop.counter }} </span>
                                <span class="ml-auto"
                                  >{% if easy_challenge|is_only_started:request.user %} (Continue) {% elif easy_challenge|is_attempted:request.user %}(Attempt again){% endif %}  <i class="fas fa-angle-double-right"></i
                                ></span>
                            </button>
                          </form>
                          <div class="container">
                            <div class="row">
                              <div class="col border py-1 text-center">
                                <div class="ch-info mb-1">
                                  <span class="border-bottom-dotted"
                                    >Double Points</span
                                  >
                                </div>
                                <form action="{% url 'challenges' %}">
                                  <input type="hidden" name="dp" value="{{ easy_challenge.id }}">
                                  <input type="hidden" name="topic_name" value="{{ topic.topicName }}">
                                  {% if easy_challenge in dp_challenge_list %}
                                    <button
                                    class="btn btn-dark dark-on-disabled btn-block ch-info text-uppercase d-flex justify-content-around"
                                    disabled
                                  >
                                    <span> Chip Active!</span>
                                  </button>
                                  {% else %}
                                    {% if user_data.userCoins.coins >= 32 and easy_challenge|is_only_started:request.user == False %}
                                    <button type="submit"
                                      class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around"
                                    >
                                      <span>32 <i class="fas fa-coins"></i></span>
                                      <span> buy</span>
                                    </button>
                                    {% else %}
                                    <button type="submit"
                                      class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around" disabled
                                    >
                                      <span>32 <i class="fas fa-coins"></i></span>
                                      <span> buy</span>
                                    </button>
                                    {% endif %}
                                  {% endif %}
                                  
                                </form>
                              </div>
                              <div class="col border py-1 text-center">
                                <div class="ch-info mb-1">
                                  <span class="border-bottom-dotted">Free Win</span>
                                </div>
                                <form action="{% url 'challenges' %}">
                                  <input type="hidden" name="fw" value="{{ easy_challenge.id }}">
                                  <input type="hidden" name="topic_name" value="{{ topic.topicName }}">
                                  {% if easy_challenge in fw_challenge_list %}
                                    <button
                                    class="btn btn-dark dark-on-disabled btn-block ch-info text-uppercase d-flex justify-content-around"
                                    disabled
                                  >
                                    <span> Chip Active!</span>
                                  </button>
                                  {% else %}
                                    {% if user_data.userCoins.coins >= 24 and easy_challenge|is_only_started:request.user == False %}
                                    <button type="submit"
                                      class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around"
                                    >
                                      <span>24 <i class="fas fa-coins"></i></span>
                                      <span> buy</span>
                                    </button>
                                    {% else %}
                                    <button type="submit"
                                      class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around" disabled
                                    >
                                      <span>24 <i class="fas fa-coins"></i></span>
                                      <span> buy</span>
                                    </button>
                                    {% endif %}
                                  {% endif %}
                                  
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  {% else %}
                    <div class="alert alert-info text-secondary text-center alt-font">
                      <strong>No Challenge to show</strong>
                    </div>
                  {% endif %}
                </div>
                <div class="col-lg-4">
                  <div class="subheader text-center mb-3 text-secondary">
                    Medium
                  </div>
                  
                  {% if medium_challenges %}
                    {% for medium_challenge in medium_challenges %}
                      <div class="card border-left-medium shadow mb-4">
                        <div class="card-body mb-0 pb-0 px-0">
                            <form action="{% url 'challenge' %}">
                                {% csrf_token %}
                                <input type="hidden" name="topic_name" value="{{ topic.topicName }}">
                                <input type="hidden" name="exercise" value="{{ medium_challenge.id }}">
                                <button type="submit" class="btn btn-link w-100 text-xs no-underline font-weight-bold text-secondary text-uppercase mb-3 px-3 d-flex">
                                    <span>Problem {{ forloop.counter }} </span>
                                    <span class="ml-auto"
                                      >{% if medium_challenge|is_only_started:request.user %} (Continue) {% elif medium_challenge|is_attempted:request.user %}(Attempt again) {% endif %}<i class="fas fa-angle-double-right"></i
                                    ></span>
                                </button>
                            </form>
                          <div class="container">
                            <div class="row">
                              <div class="col border py-1 text-center">
                                <div class="ch-info mb-1">
                                  <span class="border-bottom-dotted"
                                    >Double Points</span
                                  >
                                </div>
                                <form action="{% url 'challenges' %}">
                                  <input type="hidden" name="dp" value="{{ medium_challenge.id }}">
                                  <input type="hidden" name="topic_name" value="{{ topic.topicName }}">
                                  {% if medium_challenge in dp_challenge_list %}
                                    <button
                                    class="btn btn-dark dark-on-disabled btn-block ch-info text-uppercase d-flex justify-content-around"
                                    disabled
                                  >
                                    <span> Chip Active!</span>
                                  </button>
                                  {% else %}
                                    {% if user_data.userCoins.coins >= 32 and medium_challenge|is_only_started:request.user == False %}
                                    <button type="submit"
                                      class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around"
                                    >
                                      <span>32 <i class="fas fa-coins"></i></span>
                                      <span> buy</span>
                                    </button>
                                    {% else %}
                                    <button type="submit"
                                      class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around" disabled
                                    >
                                      <span>32 <i class="fas fa-coins"></i></span>
                                      <span> buy</span>
                                    </button>
                                    {% endif %}
                                  {% endif %}
                                  
                                </form>
                              </div>
                              <div class="col border py-1 text-center">
                                <div class="ch-info mb-1">
                                  <span class="border-bottom-dotted">Free Win</span>
                                </div>
                                <form action="{% url 'challenges' %}">
                                  <input type="hidden" name="fw" value="{{ medium_challenge.id }}">
                                  <input type="hidden" name="topic_name" value="{{ topic.topicName }}">
                                  {% if medium_challenge in fw_challenge_list %}
                                    <button
                                    class="btn btn-dark dark-on-disabled btn-block ch-info text-uppercase d-flex justify-content-around"
                                    disabled
                                  >
                                    <span> Chip Active!</span>
                                  </button>
                                  {% else %}
                                    {% if user_data.userCoins.coins >= 24 and medium_challenge|is_only_started:request.user == False %}
                                    <button type="submit"
                                      class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around"
                                    >
                                      <span>24 <i class="fas fa-coins"></i></span>
                                      <span> buy</span>
                                    </button>
                                    {% else %}
                                    <button type="submit"
                                      class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around" disabled
                                    >
                                      <span>24 <i class="fas fa-coins"></i></span>
                                      <span> buy</span>
                                    </button>
                                    {% endif %}
                                  {% endif %}
                                  
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  {% else %}
                    <div class="alert alert-info text-secondary text-center alt-font">
                      <strong>No Challenge to show</strong>
                    </div>
                  {% endif %}
                </div>

                
                <div class="col-lg-4">
                  <div class="subheader text-center mb-3 text-pink">
                    Hard
                  </div>

                  {% if hard_challenges %}
                    {% for hard_challenge in hard_challenges %}
                      <div class="card border-left-hard shadow mb-4">
                        <div class="card-body mb-0 pb-0 px-0">
                            <form action="{% url 'challenge' %}">
                                <input type="hidden" name="topic_name" value="{{ topic.topicName }}">
                                <input type="hidden" name="exercise" value="{{ hard_challenge.id }}">
                                <button type="submit" class="btn btn-link w-100 text-xs no-underline font-weight-bold text-pink text-uppercase mb-3 px-3 d-flex">
                                    <span>Problem {{ forloop.counter }} </span>
                                    <span class="ml-auto"
                                      >{% if hard_challenge|is_only_started:request.user %} (Continue) {% elif hard_challenge|is_attempted:request.user %}(Attempt again) {% endif %}<i class="fas fa-angle-double-right"></i
                                    ></span>
                                </button>
                            </form>
                          <div class="container">
                            <div class="row">
                              <div class="col border py-1 text-center">
                                <div class="ch-info mb-1">
                                  <span class="border-bottom-dotted"
                                    >Double Points</span
                                  >
                                </div>
                                <form action="{% url 'challenges' %}">
                                  <input type="hidden" name="dp" value="{{ hard_challenge.id }}">
                                  <input type="hidden" name="topic_name" value="{{ topic.topicName }}">
                                  {% if hard_challenge in dp_challenge_list %}
                                    <button
                                    class="btn btn-dark dark-on-disabled btn-block ch-info text-uppercase d-flex justify-content-around"
                                    disabled
                                  >
                                    <span> Chip Active!</span>
                                  </button>
                                  {% else %}
                                    {% if user_data.userCoins.coins >= 32 and hard_challenge|is_only_started:request.user == False %}
                                    <button type="submit"
                                      class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around"
                                    >
                                      <span>32 <i class="fas fa-coins"></i></span>
                                      <span> buy</span>
                                    </button>
                                    {% else %}
                                    <button type="submit"
                                      class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around" disabled
                                    >
                                      <span>32 <i class="fas fa-coins"></i></span>
                                      <span> buy</span>
                                    </button>
                                    {% endif %}
                                  {% endif %}
                                  
                                </form>
                              </div>
                              <div class="col border py-1 text-center">
                                <div class="ch-info mb-1">
                                  <span class="border-bottom-dotted">Free Win</span>
                                </div>
                                <form action="{% url 'challenges' %}">
                                  <input type="hidden" name="fw" value="{{ hard_challenge.id }}">
                                  <input type="hidden" name="topic_name" value="{{ topic.topicName }}">
                                  {% if hard_challenge in fw_challenge_list %}
                                    <button
                                    class="btn btn-dark dark-on-disabled btn-block ch-info text-uppercase d-flex justify-content-around"
                                    disabled
                                  >
                                    <span> Chip Active!</span>
                                  </button>
                                  {% else %}
                                    {% if user_data.userCoins.coins >= 24 and hard_challenge|is_only_started:request.user == False %}
                                    <button type="submit"
                                      class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around"
                                    >
                                      <span>24 <i class="fas fa-coins"></i></span>
                                      <span> buy</span>
                                    </button>
                                    {% else %}
                                    <button type="submit"
                                      class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around" disabled
                                    >
                                      <span>24 <i class="fas fa-coins"></i></span>
                                      <span> buy</span>
                                    </button>
                                    {% endif %}
                                  {% endif %}
                                  
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  {% else %}
                    <div class="alert alert-info text-secondary text-center alt-font">
                      <strong>No Challenge to show</strong>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
  
          <!--Sidebar-->
          <div class="col-md-3 col-lg-2 mt-4 pl-md-0 pr-md-1 px-2">
              {% include 'partials/_sidebar.html' %}
          </div>
        </div>
      </div>

{% endblock %}