{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-lg-10 pt-5">
            <!--Content Heading-->
            <div class="container p-0">
              <div class="row text-center">
                <div class="col-12">
                  <p class="mb-2 text-uppercase alt-font text-small">
                    List of
                  </p>
                  <h5
                    class="text-uppercase alt-font text-extra-dark-gray mb-3 font-weight-700"
                  >
                    Challenges
                  </h5>
                  <span
                    class="separator-line-horrizontal-medium-light2 bg-deep-pink display-table margin-auto width-100px"
                  ></span>
                </div>
              </div>
            </div>
  
            <div class="container py-4">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a class="text-dark" href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a class="text-dark" href="../../index.html">Topics</a>
                </li>
                <li class="breadcrumb-item">
                  <a class="text-dark" href="../../index.html">Intro to Html</a>
                </li>
                <li class="breadcrumb-item active">Challenges</li>
              </ol>
            </div>
  
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <div class="subheader text-center mb-3 text-green">
                    Easy
                  </div>
  
                  <div class="card border-left-easy mb-4">
                    <div class="card-body mb-0 pb-0 px-0">
                      <a
                        href=""
                        class="text-xs ok no-underline font-weight-bold text-green text-uppercase mb-3 px-3 d-flex"
                      >
                        <span>Problem 1 </span>
                        <span class="ml-auto"
                          ><i class="fas fa-angle-double-right"></i
                        ></span>
                      </a>
                      <div class="container">
                        <div class="row">
                          <div class="col border py-1 text-center">
                            <div class="ch-info mb-1">
                              <span class="border-bottom-dotted"
                                >Double Points</span
                              >
                            </div>
                            <button
                              class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around"
                              disabled
                            >
                              <span>32 <i class="fas fa-coins"></i></span>
                              <span> buy</span>
                            </button>
                          </div>
                          <div class="col border py-1 text-center">
                            <div class="ch-info mb-1">
                              <span class="border-bottom-dotted">Free Hit</span>
                            </div>
                            <button
                              class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around"
                              disabled
                            >
                              <span>24 <i class="fas fa-coins"></i></span>
                              <span> buy</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="card border-left-easy shadow mb-4">
                    <div class="card-body mb-0 pb-0 px-0">
                      <a
                        href=""
                        class="text-xs ok no-underline font-weight-bold text-green text-uppercase mb-3 px-3 d-flex"
                      >
                        <span>Problem 2 </span>
                        <span class="ml-auto"
                          ><i class="fas fa-angle-double-right"></i
                        ></span>
                      </a>
                      <div class="container">
                        <div class="row">
                          <div class="col border py-1 text-center">
                            <div class="ch-info mb-1">
                              <span class="border-bottom-dotted"
                                >Double Points</span
                              >
                            </div>
                            <button
                              class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around"
                            >
                              <span>32 <i class="fas fa-coins"></i></span>
                              <span> buy</span>
                            </button>
                          </div>
                          <div class="col border py-1 text-center">
                            <div class="ch-info mb-1">
                              <span class="border-bottom-dotted">Free Hit</span>
                            </div>
                            <button
                              class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around"
                            >
                              <span>24 <i class="fas fa-coins"></i></span>
                              <span> buy</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="subheader text-center mb-3 text-secondary">
                    Medium
                  </div>
  
                  <div class="card border-left-medium shadow mb-4">
                    <div class="card-body mb-0 pb-0 px-0">
                      <a
                        href=""
                        class="text-xs ok no-underline font-weight-bold text-secondary text-uppercase mb-3 px-3 d-flex"
                      >
                        <span>Problem 1 </span>
                        <span class="ml-auto"
                          ><i class="fas fa-angle-double-right"></i
                        ></span>
                      </a>
                      <div class="container">
                        <div class="row">
                          <div class="col border py-1 text-center">
                            <div class="ch-info mb-1">
                              <span class="border-bottom-dotted"
                                >Double Points</span
                              >
                            </div>
                            <button
                              class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around"
                            >
                              <span>32 <i class="fas fa-coins"></i></span>
                              <span> buy</span>
                            </button>
                          </div>
                          <div class="col border py-1 text-center">
                            <div class="ch-info mb-1">
                              <span class="border-bottom-dotted">Free Hit</span>
                            </div>
                            <button
                              class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around"
                            >
                              <span>24 <i class="fas fa-coins"></i></span>
                              <span> buy</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="card border-left-medium shadow mb-4">
                    <div class="card-body mb-0 pb-0 px-0">
                      <a
                        href=""
                        class="text-xs ok no-underline font-weight-bold text-secondary text-uppercase mb-3 px-3 d-flex"
                      >
                        <span>Problem 2 </span>
                        <span class="ml-auto"
                          ><i class="fas fa-angle-double-right"></i
                        ></span>
                      </a>
                      <div class="container">
                        <div class="row">
                          <div class="col border py-1 text-center">
                            <div class="ch-info mb-1">
                              <span class="border-bottom-dotted"
                                >Double Points</span
                              >
                            </div>
                            <button
                              class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around"
                            >
                              <span>32 <i class="fas fa-coins"></i></span>
                              <span> buy</span>
                            </button>
                          </div>
                          <div class="col border py-1 text-center">
                            <div class="ch-info mb-1">
                              <span class="border-bottom-dotted">Free Hit</span>
                            </div>
                            <button
                              class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around"
                            >
                              <span>24 <i class="fas fa-coins"></i></span>
                              <span> buy</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="subheader text-center mb-3 text-pink">
                    Hard
                  </div>
  
                  <div class="card border-left-hard shadow mb-4">
                    <div class="card-body mb-0 pb-0 px-0">
                      <a
                        href=""
                        class="text-xs ok no-underline font-weight-bold text-pink text-uppercase mb-3 px-3 d-flex"
                      >
                        <span>Problem 1 </span>
                        <span class="ml-auto"
                          ><i class="fas fa-angle-double-right"></i
                        ></span>
                      </a>
                      <div class="container">
                        <div class="row">
                          <div class="col border py-1 text-center">
                            <div class="ch-info mb-1">
                              <span class="border-bottom-dotted"
                                >Double Points</span
                              >
                            </div>
                            <button
                              class="btn btn-dark dark-on-disabled btn-block ch-info text-uppercase d-flex justify-content-around"
                              disabled
                            >
                              <span> Chip Active!</span>
                            </button>
                          </div>
                          <div class="col border py-1 text-center">
                            <div class="ch-info mb-1">
                              <span class="border-bottom-dotted">Free Hit</span>
                            </div>
                            <button
                              class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around"
                            >
                              <span>24 <i class="fas fa-coins"></i></span>
                              <span> buy</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="card border-left-hard shadow mb-4">
                    <div class="card-body mb-0 pb-0 px-0">
                      <a
                        href=""
                        class="text-xs ok no-underline font-weight-bold text-pink text-uppercase mb-3 px-3 d-flex"
                      >
                        <span>Problem 2 </span>
                        <span class="ml-auto"
                          ><i class="fas fa-angle-double-right"></i
                        ></span>
                      </a>
                      <div class="container">
                        <div class="row">
                          <div class="col border py-1 text-center">
                            <div class="ch-info mb-1">
                              <span class="border-bottom-dotted"
                                >Double Points</span
                              >
                            </div>
                            <button
                              class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around"
                            >
                              <span>32 <i class="fas fa-coins"></i></span>
                              <span> buy</span>
                            </button>
                          </div>
                          <div class="col border py-1 text-center">
                            <div class="ch-info mb-1">
                              <span class="border-bottom-dotted">Free Hit</span>
                            </div>
                            <button
                              class="btn btn-blue btn-block ch-info text-uppercase d-flex justify-content-around"
                            >
                              <span>24 <i class="fas fa-coins"></i></span>
                              <span> buy</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!--Sidebar-->
          <div class="col-md-3 col-lg-2 mt-4 pl-md-0 pr-md-1 px-2">
            <h2 class="subheader px-2">John Doe</h2>
            <div class="border-top-pink border-left border-right border-bottom">
              <h2 class="subheader py-2 text-center bg-light">Level 3</h2>
              <h3 class="subheader subheader-small pt-2 px-2">Points/Rankings</h3>
              <div class="px-2">
                <table
                  class="subheader subheader-small font-weight-light border px-1 bg-light"
                  width="100%"
                >
                  <tr class="border-bottom-white">
                    <td width="70%" class="py-1 pl-1">Overall Points:</td>
                    <th width="30%" class="py-1 pl-1">120</th>
                  </tr>
                  <tr class="border-bottom-white">
                    <td width="70%" class="py-1 pl-1">Overall Rank:</td>
                    <th width="30%" class="py-1 pl-1">7</th>
                  </tr>
                  <tr>
                    <td width="70%" class="py-1 pl-1">Total Students:</td>
                    <th width="30%" class="py-1 pl-1">36</th>
                  </tr>
                </table>
              </div>
              <h3 class="subheader subheader-small pt-4 px-2">Best Overall</h3>
              <table
                width="100%"
                class="subheader subheader-small font-weight-light"
              >
                <tr class="table-heading subheader border-bottom">
                  <td width="15%" class="py-1 text-center">Pos</td>
                  <td width="60%" class="py-1">Name</td>
                  <td width="25%" class="py-1 text-center">Points</td>
                </tr>
                <tr class="border-bottom">
                  <td width="15%" class="py-1 text-center">1</td>
                  <td width="60%" class="py-1">
                    <a href="" class="text-dark">Will Smith</a>
                  </td>
                  <td width="25%" class="py-1 text-center">260</td>
                </tr>
                <tr class="border-bottom">
                  <td width="15%" class="py-1 text-center">2</td>
                  <td width="60%" class="py-1">
                    <a href="" class="text-dark">Jake Gyllenhall</a>
                  </td>
                  <td width="25%" class="py-1 text-center">230</td>
                </tr>
                <tr class="border-bottom">
                  <td width="15%" class="py-1 text-center">3</td>
                  <td width="60%" class="py-1">
                    <a href="" class="text-dark">John Terry</a>
                  </td>
                  <td width="25%" class="py-1 text-center">200</td>
                </tr>
                <tr class="border-bottom">
                  <td width="15%" class="py-1 text-center">4</td>
                  <td width="60%" class="py-1">
                    <a href="" class="text-dark">Ryan Reynolds</a>
                  </td>
                  <td width="25%" class="py-1 text-center">190</td>
                </tr>
                <tr class="border-bottom">
                  <td width="15%" class="py-1 text-center">5</td>
                  <td width="60%" class="py-1">
                    <a href="" class="text-dark">David Beckham</a>
                  </td>
                  <td width="25%" class="py-1 text-center">160</td>
                </tr>
              </table>
  
              <h3 class="subheader subheader-small py-4 px-2">Achievements</h3>
              <div class="container-fluid my-2 text-center">
                <img
                  class="badges bg-success icon"
                  rel="popover"
                  src="https://api.sololearn.com/Uploads/Achievements/56.png"
                  alt="Engaged in!"
                />
              </div>
              <div class="container-fluid my-2 text-center">
                <img
                  class="badges bg-secondary icon"
                  src="https://api.sololearn.com/Uploads/Achievements/14.png"
                  alt="Engaged in!"
                />
              </div>
              <div class="container-fluid my-2 text-center">
                <img
                  class="badges bg-info icon"
                  src="https://api.sololearn.com/Uploads/Achievements/16.png"
                  alt="Engaged in!"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
  

{% endblock %}