{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <!-- use bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <!-- use codemirror css -->
  <link href="{% static 'codemirror/lib/codemirror.css' %}" rel="stylesheet" />
  <link href="{% static 'codemirror/theme/neo.css' %}" rel="stylesheet" />
  <link href="{% static 'codemirror/addon/lint/lint.css' %}" rel="stylesheet" />
  <link href="{% static 'codemirror/addon/scroll/simplescrollbars.css' %}" rel="stylesheet" />

  <!-- project's css -->
  <link rel="stylesheet" href="{% static 'css/all.css' %}" />
  <link rel="stylesheet" href="{% static 'css/code_editor.css' %}" />
{% endblock %}

{% block javascript %}
  <!-- use bootstrap js -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <!-- use split.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.5.10/split.min.js"
    integrity="sha256-voAP1SafVzHBtUVXxB6ZuQB5mIZu6h0veHhhzwXcthQ=" crossorigin="anonymous"></script>

  <!-- use jshint -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jshint/2.10.1/jshint.min.js"
    integrity="sha256-AnRo6ofeMX/ySgINPlWrw/wgAp8WtuOLhJk7rpvr7dM=" crossorigin="anonymous"></script>

  <!-- use htmlhint -->
  <script src="{% static 'js/htmlhint.js' %}"></script>

  <!-- use codemirror js -->
  <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
  <script src="{% static 'codemirror/mode/css/css.js' %}"></script>
  <script src="{% static 'codemirror/mode/javascript/javascript.js' %}"></script>
  <script src="{% static 'codemirror/mode/xml/xml.js' %}"></script>
  <script src="{% static 'codemirror/mode/htmlmixed/htmlmixed.js' %}"></script>
  <script src="{% static 'codemirror/addon/lint/lint.js' %}"></script>
  <script src="{% static 'codemirror/addon/lint/html-lint.js' %}"></script>
  <script src="{% static 'codemirror/addon/lint/javascript-lint.js' %}"></script>
  <script src="{% static 'codemirror/addon/scroll/simplescrollbars.js' %}"></script>
  <script src="{% static 'codemirror/addon/scroll/scrollpastend.js' %}"></script>
  <script src="{% static 'codemirror/addon/edit/closetag.js' %}"></script>
  <script src="{% static 'codemirror/addon/edit/closebrackets.js' %}"></script>

  <!-- transpile with loop protection -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"
    integrity="sha256-FiZMk1zgTeujzf/+vomWZGZ9r00+xnGvOgXoj0Jo1jA=" crossorigin="anonymous"></script>

  <!-- javascript entry point -->
  <script src="{% static 'js/code_editor.js' %}" defer></script>
{% endblock %}

{% block navbar %}
  <div id="navbar-component">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container alt-font nav-text">
        <a class="navbar-brand " href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="" height="50"
            width="50" />
        </a>
        <div>
          <strong>Task:</strong> <span id="task-placeholder">None</span>
          <button class="btn btn-link" data-toggle="modal" data-target="#taskDetailsModal">Details</button>
        </div>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'topics' %}">Topics</a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Rankings</a>
              <div class="dropdown-menu">
                <a href="{% url 'leaderboards' %}" class="dropdown-item">Leaderboards</a>
                <a href="#" class="dropdown-item">Table</a>
              </div>
            </li>
  
            <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
            <li class="nav-item">
              <a class="nav-link d-block d-sm-none"
                href="javascript:{document.getElementById('logout').submit()}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
{% endblock %}

{% block content %}
  <div id="code--page-container">
    <main>
      <!-- left half of the page shows HTML and JS editor -->
      <div class="split-horizontal" id="editors">
        <!-- html editor -->
        <div id="html-editor-parent">
          <h4 class="pane-label">
            HTML <span class="text-secondary" id="html-label-read-only"></span>
          </h4>
          <div class="pane-content" id="html-editor"></div>
        </div>
        <div class="gutter gutter-vertical"></div>
        <!-- js editor -->
        <div id="js-editor-parent">
          <h4 class="pane-label">
            JS <span class="text-secondary" id="js-label-read-only"></span>
          </h4>
          <div class="pane-content" id="js-editor"></div>
        </div>
      </div>
      <div class="gutter gutter-horizontal"></div>
      <!-- right half shows html page and the console -->
      <div class="split-horizontal" id="code-output">
        <!-- html page view -->
        <div id="html-frame-view">
          <iframe class="w-100 h-100" frameborder="0"></iframe>
        </div>
        <div class="gutter gutter-vertical"></div>
        <!-- console output -->
        <div id="console-area">
          <h4 class="pane-label">Console</h4>
          <div class="pane-content" id="console-output-wrapper">
            <div class="pane-overflow-fix px-3" id="console-output"></div>
          </div>
        </div>
      </div>
    </main>
    <!-- footer. shows number of errors, submit button, etc -->
    <div class="bg-light d-flex justify-content-end p-2" id="tail-content">
      <!-- Show coin and error count -->
      <div class="align-self-center" id="error-count-container"></div>
      <div class="align-self-center text-secondary" id="coin-count-container">
        {{ user_data.userCoins.coins }}
      </div>
      <!-- hint, toggle console, and submit buttons -->
      <button class="btn btn-outline-secondary" id="show-hint-button" data-toggle="modal" data-target="#hintsModal">
        <i class="fas fa-lightbulb"></i> Show Hints
      </button>
      <button class="btn btn-outline-secondary" id="toggle-console-button">
        <i class="fas fa-eye"></i> Toggle Console
      </button>
      <button class="btn" id="submit-button" data-toggle="modal" data-target="#submitModal">
        <i class="fas fa-file-upload"></i> Submit
      </button>
    </div>
  </div> <!-- end of #code--page-container -->

  <!-- all modals are collected here by modals.js -->
  <div id="modal-container"></div>
  <div id="task-data" hidden>{{ challenge.exercise.url }}</div>
  <div id="task-id" hidden>{{ challenge.id }}</div>
{% endblock %}