{% extends 'base.html' %} {% load static %} {% block content %}
<!--Main Content-->

<!--Continue where you left off section-->
<section id="home-heading" class="py-5">
    <div class="container py-5">
      <p class="alt-font text-dark-gray mt-5">
        JavaScript Expressions (Challenges)
      </p>
      <h1 class="alt-font text-extra-dark-gray font-weight-700">
        Continue where you left off
      </h1>
      <span
        class="separator-line-horrizontal-medium-light2 bg-deep-pink display-table my-3 width-100px"
      ></span>
      <button class="btn btn-blue mt-4 mb-5">
        Continue <i class="fas fa-arrow-right text-small text-light"></i>
      </button>
    </div>
  </section>

  <!--Daily goals section-->
  <section class="bg-none">
    <div class="container py-5 my-5">
      <div class="row">
        <div class="col-lg-4 py-3">
          <div class="card text-center alt-font">
            <div class="card-header bg-lightblue">
              Task 1
            </div>
            <div class="card-body">
              <h5 class="card-title">0/2</h5>
              <p class="card-text text-dark-gray">
                Solve 2 challenges today
              </p>
              <p class="card-text">
                <span class="p-2 dark-background text-light rounded"
                  >5 <i class="fas fa-coins"></i
                ></span>
              </p>

              <a href="#" class="btn bg-deep-pink text-light">Challenges </a>
              <a href="#" class="btn btn-blue">Claim Reward </a>
            </div>
            <div class="card-footer text-muted bg-lightblue">
              10 hours remaining
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-3">
          <div class="card text-center alt-font">
            <div class="card-header bg-lightblue">
              Task 2
            </div>
            <div class="card-body">
              <h5 class="card-title">0/2</h5>
              <p class="card-text text-dark-gray">
                Solve 2 challenges today
              </p>
              <p class="card-text">
                <span class="p-2 dark-background text-light rounded"
                  >5 <i class="fas fa-coins"></i
                ></span>
              </p>

              <a href="#" class="btn bg-deep-pink text-light">Challenges </a>
              <a href="#" class="btn btn-blue">Claim Reward </a>
            </div>
            <div class="card-footer text-muted bg-lightblue">
              10 hours remaining
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-3">
          <div class="card text-center alt-font">
            <div class="card-header bg-lightblue">
              Task 3
            </div>
            <div class="card-body">
              <h5 class="card-title">0/2</h5>
              <p class="card-text text-dark-gray">
                Solve 2 challenges today
              </p>
              <p class="card-text">
                <span class="p-2 dark-background text-light rounded"
                  >5 <i class="fas fa-coins"></i
                ></span>
              </p>

              <a href="#" class="btn bg-deep-pink text-light">Challenges </a>
              <a href="#" class="btn btn-blue">Claim Reward </a>
            </div>
            <div class="card-footer text-muted bg-lightblue">
              10 hours remaining
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



<section class="py-5 bg-lightblue">
        <div class="container py-5">
          <div class="row">
            <!--Heading and a brief info-->
            <div class="col-lg-5 pr-3 d-flex">
              <div class="align-self-center">
                <h1 class="alt-font text-extra-dark-gray">
                  A Roadmap To Learn JavaScript
                </h1>
                <div>
                  <p class="alt-font text-dark-gray mt-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Debitis, laborum, nostrum incidunt mollitia iusto reiciendis
                    hic iste veritatis omnis beatae sapiente quas, soluta dolores
                    ipsum similique autem harum distinctio nobis.
                  </p>
                </div>
                <a
                  href=""
                  class="btn bg-none blue-on-hover text-dark-gray px-4 mt-3 mb-5"
                  >Explore Topics</a
                >
              </div>
            </div>
            <!--List of all the topics-->
            <div class="col-lg-7">
              <div class="bg-none">
                <div class="container-fluid">
                  <div class="row py-4">
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="template/pages/topic.html"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> Intro to Html
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: 75%;"
                        ></div>
                      </div>
                    </div>
  
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="template/pages/topic.html"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> JavaScript Expressions
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: 100%;"
                        ></div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="template/pages/topic.html"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> DOM Manipulation
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: 20%;"
                        ></div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="template/pages/topic.html"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> JavaScript Conditionals
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: 50%;"
                        ></div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="template/pages/topic.html"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> Loops
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: 0%;"
                        ></div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="template/pages/topic.html"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> Drawing with Canvas
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: 60%;"
                        ></div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="template/pages/topic.html"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> Functions
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: 10%;"
                        ></div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="template/pages/topic.html"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> Functions and Events
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: 90%;"
                        ></div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="template/pages/topic.html"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> Arrays
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: 40%;"
                        ></div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="template/pages/topic.html"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> Objects
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: 60%;"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
{% endblock %}