{% extends 'base.html' %} 
{% load static %}
{% load get_user_level %}
{% load humanize %}
{% block content %}
<!--Main Content-->

<section class="py-5 bg-lightblue">
        <div class="container py-5">
          <div class="row">
            <!--Heading and a brief info-->
            <div class="col-lg-5 pr-3 d-flex">
              <div class="align-self-center">
                <h1 class="alt-font text-extra-dark-gray">
                  A Roadmap To Learn JavaScript
                </h1>
                <div>
                  <p class="alt-font text-dark-gray mt-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Debitis, laborum, nostrum incidunt mollitia iusto reiciendis
                    hic iste veritatis omnis beatae sapiente quas, soluta dolores
                    ipsum similique autem harum distinctio nobis.
                  </p>
                </div>
                <a
                  href="{% url 'topics' %}"
                  class="btn bg-none blue-on-hover text-dark-gray px-4 mt-3 mb-5"
                  >Explore Topics</a
                >
              </div>
            </div>
            <!--List of all the topics-->
            <div class="col-lg-7">
              <div class="bg-none">
                <div class="container-fluid">
                  <div class="row py-4">
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="{% url 'topic' all_topics.topic1 %}"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> Intro to Html
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: {{ all_topics_progress.topic1 }}%;"
                        ></div>
                      </div>
                    </div>
  
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="{% url 'topic' all_topics.topic2 %}"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> JavaScript Expressions
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: {{ all_topics_progress.topic2 }}%;"
                        ></div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="{% url 'topic' all_topics.topic3 %}"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> DOM Manipulation
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: {{ all_topics_progress.topic3 }}%;"
                        ></div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="{% url 'topic' all_topics.topic4 %}"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> JavaScript Conditionals
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: {{ all_topics_progress.topic4 }}%;"
                        ></div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="{% url 'topic' all_topics.topic5 %}"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> Loops
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: {{ all_topics_progress.topic5 }}%;"
                        ></div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="{% url 'topic' all_topics.topic6 %}"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> Drawing with Canvas
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: {{ all_topics_progress.topic6 }}%;"
                        ></div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="{% url 'topic' all_topics.topic7 %}"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> Functions
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: {{ all_topics_progress.topic7 }}%;"
                        ></div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="{% url 'topic' all_topics.topic8 %}"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> Functions and Events
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: {{ all_topics_progress.topic8 }}%;"
                        ></div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="{% url 'topic' all_topics.topic9 %}"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> Arrays
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: {{ all_topics_progress.topic9 }}%;"
                        ></div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 my-2 alt-font">
                      <a
                        href="{% url 'topic' all_topics.topic10 %}"
                        class="bg-lightblue blue-on-hover text-dark-gray py-3 px-4 d-block"
                      >
                        <i class="fa fa-book mr-3"></i> Objects
                      </a>
                      <div class="progress" style="height: 2px;">
                        <div
                          class="progress-bar bg-green"
                          style="width: {{ all_topics_progress.topic10 }}%;"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



<!--Continue where you left off section-->

<section id="home-heading">
  <div class="blue-overlay">
    <div class="container py-5">
      <p class="alt-font  text-light text-muted mt-5">
        {{ user_last_location.topic.topicName }} <span class="text-capitalize">({{ user_last_location.location }})</span> 
      </p>
      <h1 class="alt-font text-light font-weight-700">
        Continue where you left off
      </h1>
      <span
        class="separator-line-horrizontal-medium-light2 bg-deep-pink display-table my-3 width-100px"
      ></span>
      {% if user_last_location.location == 'notes' %}
        <form action="{% url 'notes' %}">
      {% elif user_last_location.location == 'quiz' %}
        <form action="{% url 'quiz' %}">
      {% elif user_last_location.location == 'videos' %}
        <form action="{% url 'videos' %}">
            <input type="hidden" name="key" value="{{ video }}">
      {% elif user_last_location.location == 'challenges' %}
        <form action="{% url 'challenges' %}">
      {% endif %}
          <input type="hidden" value="{{ user_last_location.topic.topicName }}" name="topic_name">
          <button type="submit" class="btn btn-dark mt-4 mb-5">
            Continue <i class="fas fa-arrow-right text-small text-light"></i>        
          </button>
        </form>
    </div>
  </div>
  </section>

  <!--Daily goals section-->
  <section class="bg-none">
    <div class="container my-5 pb-5">
      <div class="py-4">
        <h5
        class="text-uppercase alt-font text-extra-dark-gray mb-3 font-weight-700"
      >
        Weekly Tasks
      </h5>
      <span
        class="separator-line-horrizontal-medium-light2 bg-deep-pink display-table width-100px"
      ></span>
    </div>
      <div class="row">
        <div class="col-lg-4 py-3">
          <div class="card text-center alt-font">
            <div class="card-header bg-lightblue">
              Task 1
            </div>
            <div class="card-body">
              <h5 class="card-title">0/2</h5>
              <p class="card-text text-dark-gray">
                Solve 2 challenges today
              </p>
              <p class="card-text">
                <span class="p-2 dark-background text-light rounded"
                  >5 <i class="fas fa-coins"></i
                ></span>
              </p>

              <a href="#" class="btn bg-deep-pink text-light">Challenges </a>
              <a href="#" class="btn btn-blue">Claim Reward </a>
            </div>
            <div class="card-footer text-muted bg-lightblue">
              10 hours remaining
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-3">
          <div class="card text-center alt-font">
            <div class="card-header bg-lightblue">
              Task 2
            </div>
            <div class="card-body">
              <h5 class="card-title">0/2</h5>
              <p class="card-text text-dark-gray">
                Solve 2 challenges today
              </p>
              <p class="card-text">
                <span class="p-2 dark-background text-light rounded"
                  >5 <i class="fas fa-coins"></i
                ></span>
              </p>

              <a href="#" class="btn bg-deep-pink text-light">Challenges </a>
              <a href="#" class="btn btn-blue">Claim Reward </a>
            </div>
            <div class="card-footer text-muted bg-lightblue">
              10 hours remaining
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-3">
          <div class="card text-center alt-font">
            <div class="card-header bg-lightblue">
              Task 3
            </div>
            <div class="card-body">
              <h5 class="card-title">0/2</h5>
              <p class="card-text text-dark-gray">
                Solve 2 challenges today
              </p>
              <p class="card-text">
                <span class="p-2 dark-background text-light rounded"
                  >5 <i class="fas fa-coins"></i
                ></span>
              </p>

              <a href="#" class="btn bg-deep-pink text-light">Challenges </a>
              <a href="#" class="btn btn-blue">Claim Reward </a>
            </div>
            <div class="card-footer text-muted bg-lightblue">
              10 hours remaining
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!--Info section-->
    <section class="py-5 bg-lightblue">
      <div class="container py-2">
        <div class="row">
          <div class="col-md-8">
            <div class="container bg-none alt-font">
              <div class="jumbotron bg-none jumbotron-fluid py-3 mb-0">
                <p class="pt-0 alt-font text-muted">
                  <span class="dotted subheader-small">Account Info</span>
                </p>
                <div class="container">
                  <h1 class="h2">
                    {{ request.user.username }}
                  </h1>
                  <a href="{% url 'profile' request.user.id %}" class="btn btn-blue px-5">View Profile</a>
                </div>
              </div>
              <div class="row dark-background">
                <div class="col-md-4 col-6 border border-light">
                  <p class="text-blue text-center pt-2 mb-0">
                    Your rank
                  </p>
                  <p class="text-light text-center">2</p>
                </div>
                <div class="col-md-4 col-6 border border-light">
                  <p class="text-blue text-center pt-2 mb-0">
                    Your Points
                  </p>
                  <p class="text-light text-center">{{ user_data.userPoints.points }}</p>
                </div>
                <div class="col-md-4 col-6 border border-light">
                  <p class="text-blue text-center pt-2 mb-0">
                    Your Coins
                  </p>
                  <p class="text-light text-center">{{ user_data.userCoins.coins }}</p>
                </div>
                <div class="col-md-4 col-6 border border-light">
                  <p class="text-blue text-center pt-2 mb-0">
                    Current Level
                  </p>
                  <p class="text-light text-center">{{ user_data.userLevel.level }}</p>
                </div>
                <div class="col-md-4 col-6 border border-light">
                  <p class="text-blue text-center pt-2 mb-0">
                    Your Coins
                  </p>
                  <p class="text-light text-center">144</p>
                </div>
                <div class="col-md-4 col-6 border border-light">
                  <p class="text-blue text-center pt-2 mb-0">
                    Date Joined
                  </p>
                  <p class="text-light text-center">{{ request.user.date_joined | date:"d M Y" }}</p>
                </div>
              </div>
            </div>

            <div class="container py-4 my-5 bg-none alt-font">
              <h4 class="px-3">Top Users</h4>
              <table class="table table-borderless">
                <thead>
                  <tr class="">
                    <td class="text-muted text-monospace">
                      <span class="dotted">Username</span>
                    </td>
                    <td class="text-muted text-monospace dotted">
                      <span class="dotted">Points </span>
                    </td>
                    <td class="text-muted text-monospace dotted">
                      <span class="dotted"> Level </span>
                    </td>
                  </tr>
                </thead>
                <tbody class="text-dark-gray">
                  <tr>
                    <td scope="row">
                      <a href="{% url 'profile' user_data.allUsers.0.user.id %}" class="text-dark">{{ user_data.allUsers.0.user }}</a>
                    </td>
                    <td class="text-success2">{{ user_data.allUsers.0.points }}</td>
                    <td class="text-success2">{{ user_data.allUsers.0 | get_user_level:user_data.allUsers.0.user}}</td>
                  </tr>
                  <tr class="bg-lightblue">
                      <td scope="row">
                          <a href="{% url 'profile' user_data.allUsers.1.user.id %}" class="text-dark">{{ user_data.allUsers.1.user }}</a>
                        </td>
                        <td class="text-success2">{{ user_data.allUsers.1.points }}</td>
                        <td class="text-success2">{{ user_data.allUsers.1 | get_user_level:user_data.allUsers.1.user}}</td>
                  </tr>
                  <tr>
                      <td scope="row">
                          <a href="{% url 'profile' user_data.allUsers.2.user.id %}" class="text-dark">{{ user_data.allUsers.2.user }}</a>
                        </td>
                        <td class="text-success2">{{ user_data.allUsers.2.points }}</td>
                        <td class="text-success2">{{ user_data.allUsers.2 | get_user_level:user_data.allUsers.2.user}}</td>
                  </tr>
                  <tr class="dark-background">
                    <td class="text-light">
                      <span class="dotted2">{{ request.user }} </span>
                    </td>
                    <td class="text-blue">{{ user_data.userPoints.points }}</td>
                    <td class="text-blue">{{ user_data.userLevel.level }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bg-none py-4 px-3 alt-font">
              <h5 class="text-uppercase subheader text-extra-dark-gray mb-2">
                Latest Posts
              </h5>
              <span
                class="separator-line-horrizontal-medium-light2 bg-deep-pink display-table width-100px mb-2"
              ></span>
              <div class="py-2">
                <a href="{% url 'question' %}?topic_name={{ latest_questions.0.topic.topicName }}&questionID={{ latest_questions.0.id }}" class="text-dark no-underline">
                  {{ latest_questions.0.question }}</a
                >
              </div>
              <div class="text-muted text-small mb-2">{{ latest_questions.0.user}} | {{ latest_questions.0.date | naturaltime }}</div>
              <div class="py-2">
                <a href="{% url 'question' %}?topic_name={{ latest_questions.1.topic.topicName }}&questionID={{ latest_questions.1.id }}" class="text-dark no-underline">
                    {{ latest_questions.1.question }}</a
                >
              </div>
              <div class="text-muted text-small mb-2">{{ latest_questions.1.user}} | {{ latest_questions.1.date | naturaltime }}</div>
              <div class="py-2">
                <a href="{% url 'question' %}?topic_name={{ latest_questions.2.topic.topicName }}&questionID={{ latest_questions.2.id }}" class="text-dark no-underline">
                    {{ latest_questions.2.question }}</a
                >
              </div>
              <div class="text-muted text-small mb-2">{{ latest_questions.2.user}} | {{ latest_questions.2.date | naturaltime }}</div>
              <div class="py-2">
                <a href="{% url 'question' %}?topic_name={{ latest_questions.3.topic.topicName }}&questionID={{ latest_questions.3.id }}" class="text-dark no-underline">
                    {{ latest_questions.3.question }}</a
                >
              </div>
              <div class="text-muted text-small mb-2">{{ latest_questions.3.user}} | {{ latest_questions.3.date | naturaltime }}</div>
              <div class="py-2">
                <a href="{% url 'question' %}?topic_name={{ latest_questions.4.topic.topicName }}&questionID={{ latest_questions.4.id }}" class="text-dark no-underline">
                    {{ latest_questions.4.question }}</a
                >
              </div>
              <div class="text-muted text-small mb-2">{{ latest_questions.4.user}} | {{ latest_questions.4.date | naturaltime }}</div>
            </div>
          </div>
        </div>
      </div>
    </section>


  
{% endblock %}