{% extends 'base.html' %} 
{% load static %}
{% load get_user_rank %}
{% load get_user_level %}
{% block content %}

<div class="leaderboard-text bg-blue" style="min-height: 95vh;">
  <div class="container pt-5 pb-2">
    <div class="pt-md-2 pb-md-1">
      <h4
          class="text-uppercase alt-font text-extra-dark-gray mb-3 font-weight-700"
        >
          Rankings
        </h4>
      </div>

            <form action="{% url 'leaderboards' %}">
                <div class="mt-4">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-xl-8 col-lg-7 col-md-6 col-sm-4">
                        <label class="mr-auto">
                          Show
                          <select name="entries" id="number">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                          </select>
                          entries
                        </label>
                      </div>
                      <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
                        <label for="" class="mt-1 d-inline">Search: <input type="text" name="username" /></label>
                        <input type="submit" class="btn btn-dark ml-3 font-weight-bold text-small text-light alt-font" value="Apply">
                      </div>
                    </div>
                  </div>
                  
          </div>
        </form>

  </div>
  <div class="container pb-5">
    <table class="table bg-dark shadow mb-5">
      <thead class="text-light bg-dark">
        <tr>
          <th style="width: 7%">#</th>
          <th>Name</th>
          <th style="width: 10%">Score</th>
          <th style="width: 10%">Level</th>
          <th style="width: 20%; min-width: 110px;">Date Joined</th>
        </tr>
      </thead>
      <tbody class="bg-light">
        {% if all_total_points %}
          {% for total_points in all_total_points %}
            <tr>
              <td scope="row">{{ total_points | get_user_rank:total_points.user }}</td>
              <td><a href="{% url 'profile' total_points.user.id %}" class="text-dark font-weight-bold"> {{ total_points.user.username }}</a></td>
              <td>{{ total_points.points }}</td>
              <td>{{ total_points | get_user_level:total_points.user }}</td>
              <td>{{ total_points.user.date_joined | date:"d M Y" }}</td>
            </tr>
          {% endfor %}
        {% endif %}
        
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
