{% extends 'base.html' %} 
{% load static %}
{% load get_user_rank %}
{% load get_user_level %}
{% block content %}

<div class="leaderboard-text">
    <div class="container py-4">
      <h5
        class="text-uppercase alt-font text-extra-dark-gray mb-3 font-weight-700"
      >
        Rankings
      </h5>
      <span
        class="separator-line-horrizontal-medium-light2 bg-deep-pink display-table width-100px"
      ></span>
    </div>
    <div class="container">
      <div class="row border border-secondary bg-blue">
        <div class="col-md-12">
          <h5 class="alt-font text-extra-dark-gray pt-4 pb-2 font-weight-700">
            <span class="text-light text-uppercase"> Leaderboards</span>
          </h5>
            <form action="{% url 'leaderboards' %}">
                <div class="d-flex mb-2">
                <label class="mr-auto">
                    Show
                    <select name="entries" id="number">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                    </select>
                    entries
                  </label>
                  <label for="" class="mt-1">Search: <input type="text" name="username" /></label>
                  <input type="submit" class="btn btn-dark ml-3 font-weight-bold text-small text-light alt-font" value="Apply">
          </div>
        </form>       
        <table class="table table-striped table-bordered bg-light">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Score</th>
                <th>Level</th>
                <th>Start Date</th>
              </tr>
            </thead>
            <tbody>
              {% if all_total_points %}
                {% for total_points in all_total_points %}
                  <tr>
                    <td scope="row">{{ total_points | get_user_rank:total_points.user }}</td>
                    <td>{{ total_points.user.username }}</td>
                    <td>{{ total_points.points }}</td>
                    <td>{{ total_points | get_user_level:total_points.user }}</td>
                    <td>{{ total_points.user.date_joined | date:"d M Y" }}</td>
                  </tr>
                {% endfor %}
              {% endif %}
              
            </tbody>
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Score</th>
                <th>Level</th>
                <th>Start Date</th>
              </tr>
            </thead>
          </table>
          <div class="d-flex mb-2">
            <p class="text-small mr-auto">Showing 1 to 10 of 36 items</p>
            <nav>
                {% if all_total_points.has_other_pages %}
                <ul class="pagination pagination-sm justify-content-center flex-wrap">
                  {% if all_total_points.has_previous %}
                  <li class="page-item">
                    <a
                      class="page-link"
                      href="?page={{ all_total_points.previous_page_number }}"
                      >Previous</a
                    >
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                  </li>
                  {% endif %} {% for i in all_total_points.paginator.page_range %}
                  {% if all_total_points.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{ i }}</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                    <a
                      class="page-link"
                      href="?page={{ i }}"
                      >{{ i }}</a
                    >
                  </li>
                  {% endif %} {% endfor %} {% if all_total_points.has_next %}
                  <li class="page-item">
                    <a
                      class="page-link"
                      href="?page={{ all_total_points.next_page_number }}"
                      >Next</a
                    >
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link">Next</a>
                  </li>
                  {% endif %}
                </ul>
                {% endif %}
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
