{% extends 'base.html' %} {% load static %} {% block content %}

<!--Topic name section-->
<section id="fixed-image" style="background-image:url({% static 'images/topic_bg.jpeg' %})">
  <div
    class="dark-overlay-top"
    
  >
    <div class="py-5">
      <div class="container text-center">
        <h1 class="display-5 text-light my-5 d-inline">
          {{ topic.topicName }}
        </h1>
      </div>
    </div>
  </div>
</section>

<!--Main content-->
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-9 col-lg-10">
        <div class="pb-3">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a class="text-dark" href="{% url 'index' %}">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a class="text-dark" href="{% url 'topics' %}">Topics</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'topic' topic.topicName %}" class="text-dark">{{ topic.topicName }}</a>
              </li>
              <li class="breadcrumb-item active">Videos</li>
            </ol>
          </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-4 order-xl-1 order-2">
            <div class="arrow_box text-light text-center">
              <p class="py-1 text-uppercase">More Videos</p>
            </div>
            {% if videos %} {% for video in videos %}
            <div class="my-4"></div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-xl-6 col-4">
                  <img
                    src="https://img.youtube.com/vi/{{ video.key }}/hqdefault.jpg"
                    alt=""
                    class="img-fluid bg-dark"
                  />
                </div>
                <div class="col-xl-6 col-8 px-0">
                  <div class="">
                    <form action="{% url 'videos' %}">
                      <input type="hidden" value="{{ video.key }}" name="key">
                      <input type="hidden" value="{{ topic.topicName }}" name="topic_name">
                      <button class="font-weight-bold btn btn-link text-dark px-0 text-left">{{ video.title }} </button>
                    </form>
                    <p class="video-owner">{{ video.channelName }}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %} {% endif %}
          </div>
          <div class="col-xl-8 order-xl-2 order-1">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                class="embed-responsive-item"
                src="https://www.youtube.com/embed/{{ key }}"
                allowfullscreen
              ></iframe>
            </div>
            <div class="container-fluid py-4">
              <div class="row">
                <div class="col text-center">
                  <form action="{% url 'notes' %}">
                      <input
                        type="hidden"
                        name="topic_name"
                        value="{{ topic.topicName }}"
                      />
                      <button
                        type="submit"
                        class="btn btn-outline-dark mr-sm-4 mr-0"
                      >
                        Lecture Notes
                      </button>
                    </form>

                  
                </div>
                <div class="col text-center">
                        <form action="{% url 'quiz' %}">
                          <input
                            type="hidden"
                            name="topic_name"
                            value="{{ topic.topicName }}"
                          />
                          <button
                            type="submit"
                            class="btn btn-outline-dark"
                          >
                            Test Your Knowledge
                          </button>
                        </form>
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Sidebar-->
    <div class="col-md-3 col-lg-2 mt-md-0 mt-4 pl-md-0 pr-md-1 px-2">
      {% include 'partials/_sidebar.html' %}
    </div>
  </div>
</div>

{% block javascript %}
  <!-- use bootstrap js -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <!-- use split.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.5.10/split.min.js"
    integrity="sha256-voAP1SafVzHBtUVXxB6ZuQB5mIZu6h0veHhhzwXcthQ=" crossorigin="anonymous"></script>

  <!-- use jshint -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jshint/2.10.1/jshint.min.js"
    integrity="sha256-AnRo6ofeMX/ySgINPlWrw/wgAp8WtuOLhJk7rpvr7dM=" crossorigin="anonymous"></script>

  <!-- use htmlhint -->
  <script src="{% static 'js/htmlhint.js' %}"></script>

  <!-- use codemirror js -->
  <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
  <script src="{% static 'codemirror/mode/css/css.js' %}"></script>
  <script src="{% static 'codemirror/mode/javascript/javascript.js' %}"></script>
  <script src="{% static 'codemirror/mode/xml/xml.js' %}"></script>
  <script src="{% static 'codemirror/mode/htmlmixed/htmlmixed.js' %}"></script>
  <script src="{% static 'codemirror/addon/lint/lint.js' %}"></script>
  <script src="{% static 'codemirror/addon/lint/html-lint.js' %}"></script>
  <script src="{% static 'codemirror/addon/lint/javascript-lint.js' %}"></script>
  <script src="{% static 'codemirror/addon/scroll/simplescrollbars.js' %}"></script>
  <script src="{% static 'codemirror/addon/scroll/scrollpastend.js' %}"></script>
  <script src="{% static 'codemirror/addon/edit/closetag.js' %}"></script>
  <script src="{% static 'codemirror/addon/edit/closebrackets.js' %}"></script>
  <script src="{% static 'codemirror/keymap/emacs.js' %}"></script>
  <script src="{% static 'codemirror/keymap/vim.js' %}"></script>

  <!-- transpile with loop protection -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"
    integrity="sha256-FiZMk1zgTeujzf/+vomWZGZ9r00+xnGvOgXoj0Jo1jA=" crossorigin="anonymous"></script>

  <!-- javascript entry point -->
  <script src="{% static 'js/code_editor.js' %}" defer></script>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <script src="{% static 'js/all.js' %}" defer></script>
{% endblock %}


{% endblock %}
