{% extends 'base.html' %} {% load static %} {% block content %}

{% block preloader %}
{% endblock %}

<!--Topic name section-->
<section id="fixed-image" style="background-image:url({% static 'images/topic_bg.jpeg' %})">
  <div
    class="dark-overlay-top"
    
  >
    <div class="py-5">
      <div class="container text-center">
        <h1 class="display-5 text-light my-5 d-inline">
          {{ topic.topicName }}
        </h1>
      </div>
    </div>
  </div>
</section>

<!--Main content-->
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-9 col-lg-10">
        <div class="pb-3">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a class="text-dark" href="{% url 'index' %}">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a class="text-dark" href="{% url 'topics' %}">Topics</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'topic' topic.topicName %}" class="text-dark">{{ topic.topicName }}</a>
              </li>
              <li class="breadcrumb-item active">Videos</li>
            </ol>
          </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-4 order-xl-1 order-2">
            <div class="arrow_box text-light text-center">
              <p class="py-1 text-uppercase">More Videos</p>
            </div>
            {% if videos %} {% for video in videos %}
            <div class="my-4"></div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-xl-6 col-4">
                  <img
                    src="https://img.youtube.com/vi/{{ video.key }}/hqdefault.jpg"
                    alt=""
                    class="img-fluid bg-dark"
                  />
                </div>
                <div class="col-xl-6 col-8 px-0">
                  <div class="">
                    <form action="{% url 'videos' %}">
                      <input type="hidden" value="{{ video.key }}" name="key">
                      <input type="hidden" value="{{ topic.topicName }}" name="topic_name">
                      <button class="font-weight-bold btn btn-link text-dark px-0 text-left">{{ video.title }} </button>
                    </form>
                    <p class="video-owner">{{ video.channelName }}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %} {% endif %}
            {% if more_videos %}
            {% for video in more_videos %}
              <div class="my-4"></div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xl-6 col-4">
                    <img
                      src="https://img.youtube.com/vi/{{ video.id }}/hqdefault.jpg"
                      alt=""
                      class="img-fluid bg-dark"
                    />
                  </div>
                  <div class="col-xl-6 col-8 px-0">
                    <div class="">
                      <a href="https://www.youtube.com/watch?v={{ video.id }}" target="_black" class="font-weight-bold text-dark text-left">{{ video.title }}</a>
                      <p class="video-owner">{{ video.channelName }}</p>
                    </div>
                  </div>
                </div>
              </div> 
            {% endfor %}
            {% else %}
            <div class="get-more py-4 text-center">
              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="query" value="{{ topic.topicName }}">
                <button class="btn btn-dark">Get More videos <i class="fas fa-angle-double-right"></i></button>
              </form>
            </div>
            {% endif %}
          </div>
          <div class="col-xl-8 order-xl-2 order-1">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                class="embed-responsive-item"
                src="https://www.youtube.com/embed/{{ key }}"
                allowfullscreen
              ></iframe>
            </div>
            <div class="container-fluid py-4">
              <div class="row">
                <div class="col text-center">
                  <form action="{% url 'notes' %}">
                      <input
                        type="hidden"
                        name="topic_name"
                        value="{{ topic.topicName }}"
                      />
                      <button
                        type="submit"
                        class="btn btn-outline-dark mr-sm-4 mr-0"
                      >
                        Lecture Notes
                      </button>
                    </form>

                  
                </div>
                <div class="col text-center">
                        <form action="{% url 'quiz' %}">
                          <input
                            type="hidden"
                            name="topic_name"
                            value="{{ topic.topicName }}"
                          />
                          <button
                            type="submit"
                            class="btn btn-outline-dark"
                          >
                            Test Your Knowledge
                          </button>
                        </form>
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Sidebar-->
    <div class="col-md-3 col-lg-2 mt-md-0 mt-4 pl-md-0 pr-md-1 px-2">
      {% include 'partials/_sidebar.html' %}
    </div>
  </div>
</div>



{% endblock %}
